.panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1px solid #333;
}

.panel-header {
  background: #252526;
  padding: 4px;
  font-size: 11px;
  font-weight: bold;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  border-bottom: 1px solid #222;
}

.panel-content {
  flex: 1;
  overflow-y: auto;
  background: #111;
  padding: 0;
}

.empty-msg {
  padding: 10px;
  text-align: center;
  color: #444;
  font-style: italic;
  font-size: 12px;
}